.App {
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  background: yellowgreen;
}

.price{
  width: 80px;
  height: 35px;
}

.name, .quantity{
  text-transform: uppercase;
  height: 35px;
  width: 200px;
  font-size: large;
  font-weight: bold;
}

.btn{
  margin: 5px;
  background: yellowgreen;
  font-size: large;
  font-weight: bold;
  color: green;
  height: fit-content;
  width: fit-content;
  float: right;
}

.btn1{
  margin: 5px;
  background: yellowgreen;
  font-size: large;
  font-weight: bold;
  width: fit-content;
  color: green;
}

.amt{
  font-weight: bolder;
  font-size: x-large;
}

.btns{
  display: flex;
  padding-left: 70%;
}